.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.resultText {
  font-weight: bold;
  font-size: 0.9rem;
}

.incomes {
  font-weight: bold;
  font-size: 0.9rem;
  color: green;
}

.expenses {
  font-weight: bold;
  font-size: 0.9rem;
  color: red;
}
